.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.navbar-a7ff7dddf889 {
  /* 矩形 82 */
  position: relative;
  height: 72px;
  opacity: 1;	
  background: var(--bg-color);
  transition: all 0.3s ease-in-out;
  padding: 0 24px;
  display: flex;
  align-items: center;
  .navbar-brand_logo {
    height: 32px;
    width: 32px;
  }
  .navbar-brand_title {
    font-size:24px;
  }
  .navbar-nav {
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .nav-menu {
      padding: 0 10px;
      position: relative;
      .nav-submenu {
        position: absolute;
        display: flex;
        flex-direction: column;
        display: none;
        // width: 200px;
        top: 100%;
        left: 0;
        z-index: 1000;
        padding: 10px;
        background-color: var(--bg-color);
        li {
          padding-bottom: 10px;
        }
      }
    }
  }
  .search {
    color: var(--text-color);
    margin-left: auto;
    padding: 0 10px;
    cursor: pointer;
  }
}

.navbar-a7ff7dddf888 {
  /* 矩形 82 */
  position: relative;
  transition: all 0.3s ease-in-out;

  height: 72px;
  opacity: 1;	
  background: var(--bg-color);
  padding: 0 24px;
  display: none;
  justify-content: space-between;
  align-items: center;
  .navbar-brand_logo {
    height: 32px;
    width: 32px;
  }
  .navbar-brand_title {
    font-size:24px;
  }
  .navbar-menu_btn {
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: 1px solid var(--text-color);
    .bi-list {
      font-size: 20px;
    }
  }
  .offcanvas {
    background: var(--bg-color);
    .offcanvas-header {
      padding-top: 30px;
    }
    .close {
      color: var(--text-color) !important;
    }
    .nav-menu {
      cursor: pointer;
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-top: 2px solid var(--text-color);
      padding: 10px 0;
      position: relative;
      .bi-dash-lg {
        display: none;
      }
    }


    .nav-submenu {
      display: none;
      padding: 10px 0 30px 0;
      li {
        padding: 3px 0;
      }
    }
  }
}
.component-normal-four {
  background-color: var(--bg-color);
  color: var(--text-color);
  // margin-top: 100px;
  .item {
    width: 100%;
    height: 100%;
    padding: 60px 20px;
    padding-right: 0;
  }
  .title {
    font-size: var(--font-24);
  }
  .subtitle {
    display: block;
    margin-top: 10px;
    font-size: var(--font-16);
  }
}

.component-normal-two {
  margin-top: 100px;
  .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .row {
    .item {
      height: 600px;
      .title {
        font-size: var(--font-48);
      }
      .subtitle {
        margin-top: 10px;
        font-size: var(--font-24);
      }
      .text {
        display: block;
        margin-top: 24px;
        font-size: var(--font-16);
      }
    }

  }
}
.component-normal-two-b {
  margin-top: 100px;
  .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .row {
    .item {
      height: 600px;
      .title {
        font-size: var(--font-48);
        margin-bottom: 24px;
      }

      .text {
        display: block;
        margin-top: 8px;
        font-size: var(--font-16);
      }
    }

  }
}
.component-des-a {
  .title {
    font-size: var(--font-48);
    color: var(--text-color);
  }
  .subtitle {
    margin-top: 10px;
    font-size: var(--font-24);
    color: var(--text-color);
  }
  .text {
    display: block;
    font-size: var(--font-16);
    color: var(--text-color);
  }
  
}
.component-normal-four-img {
  .img {
    height: 80%;
    width: 100%;
    margin-bottom: 24px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .title {
    font-size: var(--font-16);
    color: var(--text-color);
  }
  
}

.component-chat-type {
  .item {
    padding: 34px;
    .text{
      width: 50%;
      font-size: var(--font-16);
      color: var(--text-color);
    }
  }
  .type-item {
    padding-top: 12px;
    .first-item, .second-item {
      overflow: hidden;
      padding: 12px;
      border: 1px solid #d2d2d2;
      .img {
        padding: 12px 0;
        width: 100%;
        height: 70%;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .second-item {
      border-top: none;
    }
    .label {
      margin-bottom: 10px;
    }
    .input-type, .output-type {
      color: var(--text-color-a8);
      font-size: var(--font-14);
    }
    .output-type_text {
      background-color: var(--color-2d);
    }
  }
  .green {
    .title, .first-item {
      color: #51DA4C;
    }
    .first-item, .second-item {
      border: 1px solid #51DA4C;
    }
    .input-type, .label {
      color: #51DA4C;
    }
    .output-type_text {
      color: var(--text-color) !important;
      background-color: #51DA4C !important;
    }
  }
}

.search-modal {
  .modal-content {
    background-color: var(--bg-color);
  }
  .modal-body {


  }
}

.component-chat-title {
    padding: 48px 0;
    border-top: 1px solid var(--color-2d);
    border-bottom: 1px solid var(--color-2d);
    .row {
      position: relative;
      border-top: 1px solid var( --text-color);

    }
    .text {
      padding-top: 10px;
      font-size: var( --font-48);
      color: var( --text-color);
    }
    .link {
      position: absolute;
      text-align: right;
      top: 12px;
      right: 0;
    }

}

.component-draw-two-img {
  .item {
    .img {
      width: 100%;
    }
  }
}
.component-draw-two-percent {
  .percent {
    font-size: var(--font-58);
    color: var(--text-color);
  }
  .text {
    font-size: var(--font-18);
    color: var(--text-color);

  }
}
.component-join {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    position: absolute;
    top: -40px;
    left: 0;
    img {
      height: 32px;
      width: 32px;
    }
  }
  .title {
    width: 100%;
    font-size: var(--font-48);
    color: var(--text-color);
  }
  .btn {
    margin-top: 24px;
    padding: 10px 20px;
    border-radius: 3px;
    width: 100%;

    border: 1px solid var(--text-color);
    color: var(--text-color);
    cursor: pointer;
  }
  .btn:hover {
    background-color: var(--text-color);
    a {

      color: var(--bg-color);
    }
  }
}

.page-footer {
  padding: 0 24px;
  
  .logo {
    img {
      height: 32px;
      width: 32px;
    }
  }
  .row {
    padding: 24px 0 48px 0;
    margin: 0;
    width: 100%;
    .item {
      margin-top: 24px;
    }
    label {
      font-weight: 700;
    }
    #back-top {
      cursor: pointer;
    }
  }
   
}


.shade {
  background-color: var(--text-color);
  .bg-primary {
    background-color: var(--bg-color) !important;
  } 
}
// .navbar-a7ff7dddf889 大于768px才显示
@media screen and (max-width: 768px) {
  .navbar-a7ff7dddf889 {
    display: none;
  }
}

// .navbar-a7ff7dddf888 小于768px才显示
@media screen and (max-width: 768px) {
  .navbar-a7ff7dddf888 {
    display: flex;
  }
  .aichat_first-container {
    height: 900px;
    // padding-top: 200px;
  }
  .aidraw_first-container {
    height: 900px;
    padding-top: 250px;
    .title, .subtitle {
      padding-right: 0;
    }
    .subtitle {
      width: 80%;
    }
  }
  .component-normal-four { 
    margin-top: 20px;
      .item {
        padding: 20px 10px;
      }
    }
    .component-normal-two {
      margin-top: 20px;
    
        .row {
          
          .item {
            height: 500px;
          }
          .item-text {
            height: 300px;        
          }
        }
      }
    .component-des-a {
      .text {
        text-align: left;
      }
    }
}

