html {

  body {
    background-color: var(--bg-color);
    li {
      list-style: none;

    }
    overflow-x: hidden;
    color: var(--text-color);
    // min-width: 1280px;
    // background-color: var(--bg-color);
    a {
      color: var(--text-color);
      text-decoration: none;
      cursor: pointer;
    }
    i {
      color: var(--text-color);
    }
    .link:hover {
      text-decoration: underline;
    }
    .rotate {
      transform: rotate(180deg);
    }
    .rotate::before{
      transform: rotate(180deg);
    }
  }
  .pt-24 {
    padding-top: 24px;
  }
  .mt-24 {
    margin-top: 24px;
  }
  .mb-24 {
    margin-bottom: 24px;
  }
  .pb-24 {
    padding-bottom: 24px;
  }
  .px-12 {
    background-color: var(--bg-color);
    padding-left: 24px;
    padding-right: 24px;
  }
  .text-right {
    text-align: right;
  }
  .border-top-1 {
    border-top: 1px solid var(--text-color);
  }

}
