
:root {
  --bg-color: #000;
    --text-color: #fff;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --info-color: #17a2b8;
  /* 明亮模式 */


  /* 暗黑模式 */
  // @media (prefers-color-scheme: dark) {
  // --bg-color: #ffffff;
  // --text-color: #1a1919;
  // --primary-color: #007bff;
  // --secondary-color: #6c757d;
  // --success-color: #28a745;
  // --warning-color: #ffc107;
  // --danger-color: #dc3545;
  // --info-color: #17a2b8;
  // }
  // 字体大小
  --font-72: 72px;
  --font-48: 48px;
  --font-36: 36px;
  --font-28: 28px;
  --font-24: 24px;
  // --font-20: 20px;
  // --font-18: 18px;
  --font-16: 16px;


  @media (max-width: 1280px) {
    --font-72: 48px;
    --font-48: 36px;

    // --font-36: 28px;
    // --font-28: 24px;
    // --font-24: 21px;
    // --font-20: 18px;
    // --font-18: 16px;
    // --font-16: 16px;
  }

  @media (max-width: 768px) {
    --font-72: 32px;
    --font-48: 32px;
    --font-36: 28px;
    --font-28: 24px;
    --font-24: 21px;
    // --font-20: 18px;
    // --font-18: 16px;
    --font-16: 16px;
  }


}
